*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --red:#420907;
    
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    /* background-color: #fff; */
    /* border: 1px solid green; */
    border-bottom: thick solid var(--red);
    margin-bottom: 20px;

}
.inner{
    width:70%;
   
    margin: 0 auto;
    position: relative;
  

 
   
   
   
   
   
}
#image{
    width: 80%;
    /* border: 1px solid gold; */
    margin: 0 auto ;
    height: 60vh;
   

}
#image img{
   max-width:  100%;
   max-height: 100%;
 
}
.second{
    max-width: 80%;
    margin: 0 auto;
    
     max-height: 500px;
     transition: all 0.5s ease-in;
    /* height: 500px; */
    position: relative;
}
/* #clean{
    max-width: 80%;
    max-height: 500px;

} */
#inner-image-1{
    width: 80%;
    /* border: 5px solid gold; */
    margin: 0 auto;
    line-height: 30px;
    /* border: 1px solid yellow; */
   }

#inner-image-1 h4{
    font-size: 24px;
    font-weight: 600;
    border-bottom: 2px solid var(--red) ;
}
.cancel{
    border: 2px solid red;
    padding: 10px 36px;
    position: absolute;
    top: 150px;
    right: 0px;
    font-weight: bolder;
    font-size: large;
}
#inner-image2{
     /* width: 1020px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  
  
    align-items: center;
     transform: translateY(20px);
    /* margin-bottom: 5px; */ 
    /* overflow-x: hidden;
    height: 100px; */ 


    width: 70%;
    display: flex;
    flex-wrap: nowrap;
     /* overflow-x: scroll;  */
    /* overflow-y: hidden;  
    justify-content: space-between;
    height: 150px;
    /* border: 1px solid yellow; */
    margin: 0 auto;
}
#inner-image2 img{
     /* flex-basis: 20px;
     min-width: 250px; */
     width: 170px;
    max-height: 100%;
    margin-left: 20px;
    /* transform: translateY(20px); */
    /* border: 1px solid gray; */
    /* boxShadow = "5px 5px 10px red";  */
    /* box-shadow: 0px 15px 20px rgb(0 0 0 / 40%); */
 
    
    
}
/* #inner-image2:hover .extra{
    position: absolute;
left: 25%;
bottom: 2%;
display: block;
z-index: 9999;
}
#inner-image2:hover img{
    position: relative;
} */
/* #inner-image2:hover img{
    /* flex-basis: 20px;
    min-width: 250px; */
    /* width: 170px;
   max-height: 100%;
   transform: translateY(20px); */ 
   /* border: 1px solid gray; */
   /* boxShadow = "5px 5px 10px red";  */
   /* border: 2px solid red;
   /* box-shadow: 5px 5px 10px red; */
   
/* } */
   
   



@media screen and (max-width: 912px) {
    #image{
        height: 300px;
    }
     #image img{
        max-width:  100%;
        max-height: 100%;
      
     } 
     .btn{
        padding: 5px 10px;

     }
  } 
  
  .btn{
      position: absolute;
      top: 0;
      left: 5px;
      font-weight: bolder;
      font-size: large;
      border: 1px solid red;
      padding: 10px 36px;
    }
    .extra{
      text-align: center;
     padding-bottom: 30px;
     margin-left: 10px;
    
  }
  /* .slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 30px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
   
}
.slick-prev,
.slick-next:hover,:focus {
    outline: none;
    background: transparent;
    color: transparent;
    
} */
.arrow-prev{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    font-size: 60px;
}
.arrow-next{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    font-size: 60px;
}